<div th:fragment="search">
    <div class="row">
        <div class="col-lg-12">
            <label>Employment Type</label>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="Part-time"
                        name="partTime"
                        th:checked="*{partTime}"
                        th:value="Part-time"
                />
                <label class="form-check-label" for="Part-time">
                    Part-time
                </label>
            </div>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="full-time"
                        name="fullTime"
                        th:checked="*{fullTime}"
                        th:value="Full-time"
                />
                <label class="form-check-label" for="full-time">
                    Full-time
                </label>
            </div>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="freelance"
                        name="freelance"
                        th:checked="*{freelance}"
                        th:value="Freelance"
                />
                <label class="form-check-label" for="freelance">
                    Freelance
                </label>
            </div>
        </div>
        <div class="col-lg-12">
            <label>Work Model</label>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="remote-only"
                        name="remoteOnly"
                        th:checked="*{remoteOnly}"
                        th:value="Remote-Only"
                />
                <label class="form-check-label" for="remote-only">
                    Remote-Only
                </label>
            </div>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="Office-Only"
                        name="officeOnly"
                        th:checked="*{officeOnly}"
                        th:value="Office-Only"
                />
                <label class="form-check-label" for="Office-Only">
                    Office-Only
                </label>
            </div>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="partial-remote"
                        name="partialRemote"
                        th:checked="*{partialRemote}"
                        th:value="Partial-Remote"
                />
                <label class="form-check-label" for="partial-remote">
                    Partial-Remote
                </label>
            </div>
        </div>

        <div class="col-lg-12">
            <label>Date Posted</label>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="today"
                        name="today"
                        th:checked="*{today}"
                />
                <label class="form-check-label" for="today"> Today </label>
            </div>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="7days"
                        name="days7"
                        th:checked="*{days7}"
                />
                <label class="form-check-label" for="7days">
                    Last 7 Days
                </label>
            </div>
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        id="30days"
                        name="days30"
                        th:checked="*{days30}"
                />
                <label class="form-check-label" for="30days">
                    Last 30 Days
                </label>
            </div>
        </div>
    </div>
    <input id="hidJob" name="job" th:value="*{job}" hidden>
    <input id="hidLoc" name="location" th:value="*{location}" hidden>
</div>
