<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>

<div th:replace="~{layouts/header :: navbar}"></div>

<section class="section">
    <div class="sidenav px-5">
        <div>
            <label class="text-uppercase color-dull font-weight-bold">Filter Results</label>
            <hr/>
            <form id="myForm" th:action="@{/global-search}">
                <div th:replace="~{layouts/sidebar :: search}"></div>
            </form>
        </div>
    </div>

    <article>
        <div class="box">
            <h1 class="primary-title">Dashboard</h1>
            <div class="inner">
                <input id="job" class="radius-left" type="text" placeholder="Search for a job" name="job"
                       th:value="${job}"/>
                <input id="loc" class="" type="text" placeholder="Job Location" name="location" th:value="${location}"/>
                <button class="radius-right" type="submit" form="myForm"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <div class="box mt-3">
            <label class="large-label px-3 mb-3">Search Results</label>
            <th:block th:each="jobPost : ${jobPosts}">
                <a th:href="@{/job-details-apply/{id}(id=${jobPost.jobPostId})}"
                   style=" text-decoration:none; color:black;">
                    <div onclick="window.location=/job-details-apply/{id}(id=${jobPost.jobPostId})" class="job-row">
                        <div class="row ">
                            <div class="col-md-4">
                                <label class="job-title text-left">
                                    [[${jobPost.jobTitle}]]
                                    <span class="title-span" sec:authorize="hasAuthority('Recruiter')"
                                          th:text="'('+ @{${jobPost.totalCandidates}} + ' Candidates Applied)'">(xx candidates applied)</span>
                                    <span class="title-span" sec:authorize="hasAuthority('Job Seeker')"
                                          th:if="${jobPost.active == true}">(Applied)</span>
                                    <span class="title-span" sec:authorize="hasAuthority('Job Seeker')"
                                          th:if="${jobPost.saved == true}">(Saved)</span>

                                </label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label th:text="${jobPost.jobLocation.city+', '+ jobPost.jobLocation.state}">
                                    City State</label>
                            </div>
                            <div class="col-md-4 text-right">
                                <label th:text="@{${jobPost.jobCompany.name}}">Recruiter Company Name</label>
                            </div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>

    </article>


</section>

<!--/ bradcam_area  -->


<script
        type="text/javascript"
        th:src="@{/webjars/jquery/jquery.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/popper.js/umd/popper.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

<script>

    $('#job').change(function() {
      $('#hidJob').val($(this).val());
    });
    $('#loc').change(function() {
      $('#hidLoc').val($(this).val());
    });
</script>
</body>
</html>
